
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



body {

    background-color: #f4ecf0;
}

h1 {
    color: lightpink;
}

h1:hover {
    color: hotpink;
    text-shadow: lighpink 1px 1px;
}



a:hover {
    color: hotpink;
    text-shadow: lightpink 1px 1px;
}
a {
    text-decoration: none;
    color: lightpink;
    font-size: 18px;
    text-shadow: hotpink 1px 1px;
    font-family: "Comic Sans MS";

}



label {
    text-decoration: none;
    color: lightpink;
    font-size: 16px;
    text-shadow: hotpink 1px 1px;
    font-family: "Comic Sans MS";

}

button{
    background-color: #edd2df;
    color: hotpink;
    border: hotpink 1px solid;
    font-family: "Comic Sans MS";

}

input {
    background-color: #edd2df;
    color: hotpink;
    border: hotpink 1px solid;
    font-family: "Comic Sans MS";
}

.principal{
    text-align: left;
    color: #ff66be;
    text-shadow: #ff66be 1px 1px;
    background-color: #fadde7;
    font-family: "Lobster Two", sans-serif;
    display: flex;
    padding: 0px;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 42;
}
.base{
    text-align: left;
    color: lightpink;
    text-shadow: hotpink 1px 1px;
    background-color: #fff3f9;
    font-family: "Lobster Two", sans-serif;
    display: flex;
    justify-content: space-around;


}

.criar_atv{
    background: #ffffff;
    height: 400px;
    width: 800px;
    text-align: center;
    border: #f6a5c1 3px solid;
    border-radius: 10px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 126px);
}

.listar{
    height: 250px;
    width: 250px;
    text-align: center;
    border: #f6a5c1 3px solid;
     color: lightpink;
    text-shadow: hotpink 1px 1px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;
}

.blocos {
    display: flex;
    align-items: center;
    height: calc(100vh - 126px);
    width: 100%;
    flex-direction: column;
}

.blocos h1{
    margin: 40px;
}

.cards{
    display: flex;
    flex-direction: row;

}

