<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

</head>
<body>
<div class="principal">
    <h1>Base</h1>
</div>

<div class="main">
    <div class="base">

    <a href="{{url_for('index')}}">Início</a>



    <a href="{{url_for('listar_atividades')}}">Atividades</a>

    <a href="{{url_for('pessoa')}}">Pessoa</a>

    <a href="{{url_for('tipo')}}">Tipos</a>

    <a href="{{url_for('recurso')}}">Recursos</a>

</div>

 <div class="conteudo">
    {% block conteudo %}
    {% endblock conteudo %}
 </div>
</div>
</body>
</html>