{% extends 'base.html' %}
{% block conteudo %}
<div class="pai">
    <div class="criar">
    <a href="{{url_for('criar_atividade')}}">Criar atividade</a>
    </div>
</div>

<div class="blocos">
    <h1>Listar atividades</h1>
    <div class="cards">
        {% for atividade in dados_atividade %}
        <div class="listar">
            <p>{{atividade.nome}}</p>
            <p>{{atividade.data}}</p>
            <p>{{atividade.tipo}}</p>
        </div>
    {% endfor %}
    </div>


</div>

{% endblock conteudo %}